$background: #ffffff;
$background-negative: #16255b;
$background-primary: #dc1216;
$background-secondary: #b9bdcd;
$background-tertiary: #f3f4f6;
// $background-quaternary: #ffffff;
// $background-quinary: #ffffff;
// $background-senary: #ffffff;
$foreground: #16255b;
$foreground-negative: #ffffff;
$foreground-primary: #dc1216;
$foreground-secondary: #16255b;
$foreground-tertiary: #16255b;
// $foreground-quaternary: #000000;
// $foreground-quinary: #000000;
// $foreground-senary: #000000;
$border: #16255b;
