<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
	<meta charset="utf-8" />
	<base href="/gulp-4-bundler/">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>
		<!--@@var=title-->
	</title>
	<meta name="Content-Language" content="en" />
	<meta name="robots" content="noindex,nofollow" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-title" content="Gulp 4 Bundler">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="mobile-web-app-capable" content="yes">
	<link href="favicon.ico" rel="shortcut icon" type="image/ico" />
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/gulp-4-bundler/css/vendors.min.css" />
	<link rel="stylesheet" href="/gulp-4-bundler/css/main.min.css" />
	<!-- @@placeholder= css -->
</head>

<body class="<!--@@var=class-->">
	<!-- @@include ./shared/header.html -->
	<!-- @@placeholder= main -->
	<!-- @@include ./shared/footer.html -->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es5%2CArray.prototype.find%2CObject.assign%2CPromise%2Cfetch%2CMap" crossorigin="anonymous" SameSite="none Secure"></script>
	<script src="/gulp-4-bundler/js/vendors.min.js"></script>
	<script src="/gulp-4-bundler/js/main.min.js"></script>
	<!-- @@placeholder= js -->
</body>

</html>
