button {
	font: inherit;
}

%btn {
	display: inline-block;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	appearance: none;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	transition: ease-in-out 350ms;
	transition-property: background-color, color, border, opacity;

	&,
	&:active,
	&:focus,
	&:hover,
	&:visited {
		color: inherit;
		text-decoration: none;
		outline: none;
	}

	/*
	&:hover {
		box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.15);
	}
	*/

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
}

a,
button,
.btn {
	@extend %btn;
}

.btn--link {
	padding: 0 8px;
	font-weight: $font-medium;

	&:hover {
		background: $background-tertiary;
	}
}
